global
    log stdout format raw local0
    maxconn 120000

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend qt_database_clients
    bind *:7000
    default_backend qt_database_servers

backend qt_database_servers
    balance leastconn
    option tcp-check
    server server1 127.0.0.1:7101 check
    server server2 127.0.0.1:7102 check
    server server3 127.0.0.1:7103 check
